In [17]:
import numpy as np
import pandas as pd

import torch
import torch.nn as nn
import torch.nn.parallel
import torch.optim as optim
import torch.utils.data
from torch.autograd import Variable

In [18]:
movies = pd.read_csv('ml-1m/movies.dat',sep="::",header=None,engine='python',encoding='latin-1')
movies.head()

   0                                   1                             2
0  1                    Toy Story (1995)   Animation|Children's|Comedy
1  2                      Jumanji (1995)  Adventure|Children's|Fantasy
2  3             Grumpier Old Men (1995)                Comedy|Romance
3  4            Waiting to Exhale (1995)                  Comedy|Drama
4  5  Father of the Bride Part II (1995)                        Comedy

In [19]:
users = pd.read_csv('ml-1m/users.dat',sep="::",header=None,engine='python',encoding='latin-1')
users.head()

   0  1   2   3      4
0  1  F   1  10  48067
1  2  M  56  16  70072
2  3  M  25  15  55117
3  4  M  45   7  02460
4  5  M  25  20  55455

In [20]:
rating = pd.read_csv("ml-1m/ratings.dat",sep="::",header=None,engine='python',encoding='latin-1')
rating.head()

   0     1  2          3
0  1  1193  5  978300760
1  1   661  3  978302109
2  1   914  3  978301968
3  1  3408  4  978300275
4  1  2355  5  978824291

In [21]:
training_set =  pd.read_csv('ml-100k/u1.base',delimiter='\t',header=None)
training_set.head()

   0  1  2          3
0  1  1  5  874965758
1  1  2  3  876893171
2  1  3  4  878542960
3  1  4  3  876893119
4  1  5  3  889751712

In [22]:
training_set = np.array(training_set,dtype='int')

In [23]:
test_set =  pd.read_csv('ml-100k/u1.test',delimiter='\t',header=None)
test_set.head()

   0   1  2          3
0  1   6  5  887431973
1  1  10  3  875693118
2  1  12  5  878542960
3  1  14  5  874965706
4  1  17  3  875073198

In [24]:
test_set = np.array(test_set,dtype='int')

In [25]:
nb_users = int(max(max(training_set[:,0]),max(test_set[:,0])))
nb_users

943

In [26]:
nb_movies = int(max(max(training_set[:,1]),max(test_set[:,1])))
nb_movies

1682

In [27]:
def convert(data):
    new_data = []
    for id_users in range(1,nb_users+1):
        id_movies = data[:,1][data[:,0]==id_users]
        id_ratings = data[:,2][data[:,0]==id_users]
        ratings = np.zeros(nb_movies)
        ratings[id_movies-1] = id_ratings
        new_data.append(list(ratings))
    return new_data

In [28]:
training_set = convert(training_set)

In [29]:
test_set = convert(test_set)

In [30]:
training_set = torch.FloatTensor(training_set)
test_set = torch.FloatTensor(test_set)

In [34]:
class SAE(nn.Module):
    def __init__(self, ):
        super(SAE, self).__init__()
        self.fc1 = nn.Linear(nb_movies, 20)
        self.fc2 = nn.Linear(20, 10)
        self.fc3 = nn.Linear(10, 20)
        self.fc4 = nn.Linear(20, nb_movies)
        self.activation = nn.Sigmoid()
    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.fc4(x)
        return x
sae = SAE()
criterion = nn.MSELoss()
optimizer = optim.RMSprop(sae.parameters(), lr = 0.01, weight_decay = 0.5)

In [36]:
nb_epoch = 200
for epoch in range(1, nb_epoch + 1):
  train_loss = 0
  s = 0.
  for id_user in range(nb_users):
    input1 = Variable(training_set[id_user]).unsqueeze(0)
    target = input1.clone()
    if torch.sum(target.data > 0) > 0:
      output = sae(input1)
      target.require_grad = False
      output[target == 0] = 0
      loss = criterion(output, target)
      mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
      loss.backward()
      train_loss += np.sqrt(loss.data*mean_corrector)
      s += 1.
      optimizer.step()
  print('epoch: '+str(epoch)+' loss: '+ str(train_loss/s))

epoch: 1 loss: tensor(1.7711)
epoch: 2 loss: tensor(1.0965)
epoch: 3 loss: tensor(1.0535)
epoch: 4 loss: tensor(1.0382)
epoch: 5 loss: tensor(1.0309)
epoch: 6 loss: tensor(1.0266)
epoch: 7 loss: tensor(1.0240)
epoch: 8 loss: tensor(1.0219)
epoch: 9 loss: tensor(1.0207)
epoch: 10 loss: tensor(1.0195)
epoch: 11 loss: tensor(1.0189)
epoch: 12 loss: tensor(1.0184)
epoch: 13 loss: tensor(1.0179)
epoch: 14 loss: tensor(1.0175)
epoch: 15 loss: tensor(1.0172)
epoch: 16 loss: tensor(1.0169)
epoch: 17 loss: tensor(1.0167)
epoch: 18 loss: tensor(1.0166)
epoch: 19 loss: tensor(1.0165)
epoch: 20 loss: tensor(1.0163)
epoch: 21 loss: tensor(1.0158)
epoch: 22 loss: tensor(1.0162)
epoch: 23 loss: tensor(1.0157)
epoch: 24 loss: tensor(1.0160)
epoch: 25 loss: tensor(1.0155)
epoch: 26 loss: tensor(1.0155)
epoch: 27 loss: tensor(1.0150)
epoch: 28 loss: tensor(1.0149)
epoch: 29 loss: tensor(1.0131)
epoch: 30 loss: tensor(1.0112)
epoch: 31 loss: tensor(1.0086)
epoch: 32 loss: tensor(1.0083)
epoch: 33 loss: tensor(1.0048)
epoch: 34 loss: tensor(1.0051)
epoch: 35 loss: tensor(1.0011)
epoch: 36 loss: tensor(0.9995)
epoch: 37 loss: tensor(0.9976)
epoch: 38 loss: tensor(0.9967)
epoch: 39 loss: tensor(0.9934)
epoch: 40 loss: tensor(0.9955)
epoch: 41 loss: tensor(0.9899)
epoch: 42 loss: tensor(0.9887)
epoch: 43 loss: tensor(0.9856)
epoch: 44 loss: tensor(0.9863)
epoch: 45 loss: tensor(0.9833)
epoch: 46 loss: tensor(0.9823)
epoch: 47 loss: tensor(0.9797)
epoch: 48 loss: tensor(0.9825)
epoch: 49 loss: tensor(0.9790)
epoch: 50 loss: tensor(0.9789)
epoch: 51 loss: tensor(0.9744)
epoch: 52 loss: tensor(0.9718)
epoch: 53 loss: tensor(0.9706)
epoch: 54 loss: tensor(0.9771)
epoch: 55 loss: tensor(0.9732)
epoch: 56 loss: tensor(0.9711)
epoch: 57 loss: tensor(0.9632)
epoch: 58 loss: tensor(0.9683)
epoch: 59 loss: tensor(0.9638)
epoch: 60 loss: tensor(0.9694)
epoch: 61 loss: tensor(0.9633)
epoch: 62 loss: tensor(0.9668)
epoch: 63 loss: tensor(0.9596)
epoch: 64 loss: tensor(0.9647)
epoch: 65 loss: tensor(0.9603)
epoch: 66 loss: tensor(0.9604)
epoch: 67 loss: tensor(0.9583)
epoch: 68 loss: tensor(0.9602)
epoch: 69 loss: tensor(0.9561)
epoch: 70 loss: tensor(0.9564)
epoch: 71 loss: tensor(0.9540)
epoch: 72 loss: tensor(0.9564)
epoch: 73 loss: tensor(0.9536)
epoch: 74 loss: tensor(0.9530)
epoch: 75 loss: tensor(0.9495)
epoch: 76 loss: tensor(0.9490)
epoch: 77 loss: tensor(0.9476)
epoch: 78 loss: tensor(0.9469)
epoch: 79 loss: tensor(0.9445)
epoch: 80 loss: tensor(0.9458)
epoch: 81 loss: tensor(0.9432)
epoch: 82 loss: tensor(0.9441)
epoch: 83 loss: tensor(0.9422)
epoch: 84 loss: tensor(0.9462)
epoch: 85 loss: tensor(0.9412)
epoch: 86 loss: tensor(0.9427)
epoch: 87 loss: tensor(0.9393)
epoch: 88 loss: tensor(0.9404)
epoch: 89 loss: tensor(0.9387)
epoch: 90 loss: tensor(0.9414)
epoch: 91 loss: tensor(0.9378)
epoch: 92 loss: tensor(0.9386)
epoch: 93 loss: tensor(0.9362)
epoch: 94 loss: tensor(0.9371)
epoch: 95 loss: tensor(0.9361)
epoch: 96 loss: tensor(0.9367)
epoch: 97 loss: tensor(0.9356)
epoch: 98 loss: tensor(0.9361)
epoch: 99 loss: tensor(0.9340)
epoch: 100 loss: tensor(0.9354)
epoch: 101 loss: tensor(0.9328)
epoch: 102 loss: tensor(0.9344)
epoch: 103 loss: tensor(0.9318)
epoch: 104 loss: tensor(0.9337)
epoch: 105 loss: tensor(0.9311)
epoch: 106 loss: tensor(0.9326)
epoch: 107 loss: tensor(0.9308)
epoch: 108 loss: tensor(0.9314)
epoch: 109 loss: tensor(0.9299)
epoch: 110 loss: tensor(0.9310)
epoch: 111 loss: tensor(0.9288)
epoch: 112 loss: tensor(0.9306)
epoch: 113 loss: tensor(0.9290)
epoch: 114 loss: tensor(0.9299)
epoch: 115 loss: tensor(0.9287)
epoch: 116 loss: tensor(0.9296)
epoch: 117 loss: tensor(0.9275)
epoch: 118 loss: tensor(0.9287)
epoch: 119 loss: tensor(0.9279)
epoch: 120 loss: tensor(0.9287)
epoch: 121 loss: tensor(0.9270)
epoch: 122 loss: tensor(0.9281)
epoch: 123 loss: tensor(0.9265)
epoch: 124 loss: tensor(0.9272)
epoch: 125 loss: tensor(0.9255)
epoch: 126 loss: tensor(0.9262)
epoch: 127 loss: tensor(0.9249)
epoch: 128 loss: tensor(0.9266)
epoch: 129 loss: tensor(0.9239)
epoch: 130 loss: tensor(0.9251)
epoch: 131 loss: tensor(0.9240)
epoch: 132 loss: tensor(0.9246)
epoch: 133 loss: tensor(0.9233)
epoch: 134 loss: tensor(0.9240)
epoch: 135 loss: tensor(0.9226)
epoch: 136 loss: tensor(0.9237)
epoch: 137 loss: tensor(0.9223)
epoch: 138 loss: tensor(0.9231)
epoch: 139 loss: tensor(0.9217)
epoch: 140 loss: tensor(0.9226)
epoch: 141 loss: tensor(0.9212)
epoch: 142 loss: tensor(0.9225)
epoch: 143 loss: tensor(0.9206)
epoch: 144 loss: tensor(0.9216)
epoch: 145 loss: tensor(0.9199)
epoch: 146 loss: tensor(0.9211)
epoch: 147 loss: tensor(0.9194)
epoch: 148 loss: tensor(0.9209)
epoch: 149 loss: tensor(0.9196)
epoch: 150 loss: tensor(0.9205)
epoch: 151 loss: tensor(0.9196)
epoch: 152 loss: tensor(0.9200)
epoch: 153 loss: tensor(0.9186)
epoch: 154 loss: tensor(0.9195)
epoch: 155 loss: tensor(0.9183)
epoch: 156 loss: tensor(0.9194)
epoch: 157 loss: tensor(0.9180)
epoch: 158 loss: tensor(0.9191)
epoch: 159 loss: tensor(0.9178)
epoch: 160 loss: tensor(0.9184)
epoch: 161 loss: tensor(0.9174)
epoch: 162 loss: tensor(0.9182)
epoch: 163 loss: tensor(0.9170)
epoch: 164 loss: tensor(0.9176)
epoch: 165 loss: tensor(0.9164)
epoch: 166 loss: tensor(0.9174)
epoch: 167 loss: tensor(0.9170)
epoch: 168 loss: tensor(0.9173)
epoch: 169 loss: tensor(0.9163)
epoch: 170 loss: tensor(0.9169)
epoch: 171 loss: tensor(0.9161)
epoch: 172 loss: tensor(0.9166)
epoch: 173 loss: tensor(0.9154)
epoch: 174 loss: tensor(0.9162)
epoch: 175 loss: tensor(0.9149)
epoch: 176 loss: tensor(0.9156)
epoch: 177 loss: tensor(0.9148)
epoch: 178 loss: tensor(0.9153)
epoch: 179 loss: tensor(0.9146)
epoch: 180 loss: tensor(0.9155)
epoch: 181 loss: tensor(0.9147)
epoch: 182 loss: tensor(0.9152)
epoch: 183 loss: tensor(0.9139)
epoch: 184 loss: tensor(0.9145)
epoch: 185 loss: tensor(0.9135)
epoch: 186 loss: tensor(0.9143)
epoch: 187 loss: tensor(0.9136)
epoch: 188 loss: tensor(0.9145)
epoch: 189 loss: tensor(0.9135)
epoch: 190 loss: tensor(0.9143)
epoch: 191 loss: tensor(0.9127)
epoch: 192 loss: tensor(0.9136)
epoch: 193 loss: tensor(0.9131)
epoch: 194 loss: tensor(0.9137)
epoch: 195 loss: tensor(0.9129)
epoch: 196 loss: tensor(0.9135)
epoch: 197 loss: tensor(0.9128)
epoch: 198 loss: tensor(0.9131)
epoch: 199 loss: tensor(0.9125)
epoch: 200 loss: tensor(0.9129)

In [37]:
test_loss = 0
s = 0.
for id_user in range(nb_users):
    input1 = Variable(training_set[id_user]).unsqueeze(0)
    target = Variable(test_set[id_user]).unsqueeze(0)
    if torch.sum(target.data > 0) > 0:
          output = sae(input1)
          target.require_grad = False
          output[target == 0] = 0
          loss = criterion(output, target)
          mean_corrector = nb_movies/float(torch.sum(target.data > 0) + 1e-10)
          test_loss += np.sqrt(loss.data*mean_corrector)
          s += 1.
print('test loss: '+str(test_loss/s))

test loss: tensor(0.9541)